<form class="upload-form" [formGroup]="uploadFileForm" (ngSubmit)="submit()" enctype="multipart/form-data">
    <small class="response-message" [textContent]="uploadMessage"></small>
    <app-error></app-error>
    <div class="upload-form-unit">
        <input class="upload-form-unit__input" type="file" accept="audio/MP3" id="file" formControlName="file"
            (change)="onFileChange($event)">
        <br>
        <small class="upload-form__small">Choose a file in MP3 format</small>
    </div>
    <div class="upload-form-unit">
        <button type="submit" class="upload-form-unit__button" [disabled]="uploadFileForm.invalid">Upload</button>
    </div>
    <app-progress-loader [isLoading]="isLoading"></app-progress-loader>
</form>