.artist-edit-container {
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.artist-edit-form-container {
    height: 500px;
    overflow: auto;
}

.artist-edit-form-container::-webkit-scrollbar {
    width: 0.5em;
}

.artist-edit-form-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.artist-edit-form-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.artist-edit-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.artist-edit-agenda__image {
    height: 350px;
    box-shadow: 3px 2px 10px 4px rgba(255, 255, 255, 0.5);
    transition-duration: 0.25s;
}

.artist-edit-agenda__image:hover {
    box-shadow: 3px 2px 10px 10px rgba(255, 255, 255, 0.5);
}

.artist-edit-agenda__name {
    font-family: Barlow;
    font-size: 30px;
    margin-bottom: 15px;
}

.artist-edit-form-unit {
    margin-bottom: 25px;
}

.artist-edit-form-unit__label {
    color: gray;
    font-family: Mulish;
}

.artist-edit-form-unit__input {
    font-family: REM;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    font-family: Mulish;
    font-size: 17px;
    height: 30px;
    width: 325px;
}

.artist-edit-form-unit__input:focus {
    border-bottom-color: #c63031;
}

.artist-edit-form-unit__input::placeholder {
    background-color: transparent;
}

.artist-edit-container__button {
    color: white;
    background-color: transparent;
    border: none;
    font-family: Raleway;
    font-size: large;
    font-weight: 600;
    transition-duration: 0.25s;
}

.artist-edit-container__button:disabled {
    color: grey;
}

.artist-edit-container__button:not([disabled]):hover {
    cursor: pointer;
    color: #c63031;
}