<footer class="footer">
    <address class="footer-address">
        <div class="footer-address-unit">
            <p class="footer-address-unit__heading">Location</p>
            <p>16A Smolachkova, Minsk, Belarus</p>
        </div>
        <div class="footer-address-unit">
            <p class="footer-address-unit__heading">Contact</p>
            <nav class="contact-nav">
                <ul class="contact-nav-list">
                    <li>
                        <a href="https://www.linkedin.com/in/denis-solovey-261613246/" target="_blank">
                            <img src="../../../assets/images/svg/contact-section-linkedin-icon.svg" width="45">
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/Lelikbjmak" target="_blank">
                            <img src="../../../assets/images/svg/contact-section-github-icon.svg" width="45">
                        </a>
                    </li>
                    <li>
                        <a href="https://t.me/IamSoloveyDenis" target="_blank">
                            <img src="../../../assets/images/svg/contact-section-telegram-icon.svg" width="45">
                        </a>
                    </li>
                    <li>
                        <a href="mailto:denissolovey990@gmail.com" target="_blank">
                            <img src="../../../assets/images/svg/contact-section-gmail-icon.svg" width="45">
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="footer-address-unit">
            <p class="footer-address-unit__heading">About Music-Dashboard</p>
            <p class="footer-address-unit__description">
                Music-Dashboard provides you<br>
                with a constructive way <br>
                to manage your spotify library metadata<br>
            </p>
        </div>
    </address>
    <div class="copyright">
        <p>
            Copyright © 2023
            <span class="copyright__span">
                Innowise-Group<span class="copyright-upper-dot">&middot;</span>
            </span><br>
            All Rights Reserved
        </p>
    </div>
</footer>
